.profile-avatar {
  padding: 20px 35% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%;
  box-sizing: border-box;
}

.avatar-container {
  max-width: 300px;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 50%;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.avatar-image {
  width: 100%; 
  height: auto; /* keeps the image aspect ratio */
}

.avatar-name {
  box-sizing: border-box;
  margin: 20px;
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}

.Profile-line {
  border-color: gray;
  margin: 0 10%;
}

.info-container {
  margin: 20px 10%;

}

.InfoCard-container {
  display: flex;
  justify-content: center; 
  align-items: center;      
}