
.info-card {
    background-color:bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px; 
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
}

.info-card-key{
    font-size: 20px;
    font-weight: bold;
}

.info-card-value{
    margin-top: 5px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    word-wrap: break-word;
}