nav {
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

.Navbar-linkContainer {
  display: flex;
  gap: 10px;
}

.Navbar-link {
  color: #FFFFFF;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.Navbar-link:hover {
  background-color: #0056b3;
}